*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, Sans-Serif;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.score-board {
  width: 200px;
}

.score {
  ul {
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

.board-grid {
  display: flex;
  flex-direction: column;
  border: 10px solid #777;

  @media screen and (max-width: 600px) {
    width: 400px;
  }
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-cell {
  width: 50px;
  height: 50px;
  border: 2px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    border-color: #777;
  }

  @media screen and (max-width: 600px) {
    width: 38px;
    height: 38px;
  }
}

.game-over-banner {
  width: 100%;
  height: 100%;
  font-size: 72px;
  display: flex;
  justify-content: center;
}

.game-btn {
  border: none;
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 10px;

  &:hover {
    opacity: .8;
  }
}
